<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Tyra3l"><i class="fab fa-github"></i></a>
    <a href="https://www.youtube.com/channel/UCFcgDfHDKAe4MhpYE7yKA-Q"><i class="fab fa-youtube"></i></a>
    <a href="https://www.linkedin.com/in/guillaume-ingrin-76171547"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This website is made with <i class="fas fa-heart"></i> by Guillaume Ingrin
  </div>
</div>
