<p>Nouveau message de contact:</p>
<ul>
  <li><strong>Nom:</strong> <%= @contact.name %></li>
  <li><strong>Email:</strong> <%= @contact.email %></li>
  <li><strong>Title:</strong> <%= @contact.title %></li>
  <li><strong>Message:</strong> <%= @contact.message %></li>
</ul>
